body {
	display: grid;
	grid-template-columns: 1fr 250px 750px 1fr;
	/*grid-template-rows: 1fr 1fr 1fr;*/
	grid-template-areas: 

	". headd headd ."
	". sidebar mainbar ."
	". sidebar mainbar .";

	grid-gap: 6px;	
	margin-left: 4px;
	margin-right: 4px;
	font-family: arial;
}

.headd {
	grid-area: headd;
	display:flex;

	justify-content: center;
	align-items: center;
	background-color: rgb(255,60, 20);
	padding: 30px;
}

.sidebar {
	grid-area: sidebar;
	background: linear-gradient(to top, white, rgb(0,255,0));
	margin-left: 30px;
}


.mainbar { 
	grid-area: mainbar;
	padding: 20px;
	margin-right: 30px;
 }


.title {
	text-align: center;
	border: solid;
	border-color: white; 
	border-radius: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

.profile-pic {
	border-radius: 50% 50% / 50% 50% ;
	margin: 10px 10px 10px 50px;
}

.icon {
	margin-right: 5px;
	margin-left: 10px;
	/*padding-bottom: 10px;*/
}

.con-space {
	margin-bottom: 200px;
	border-spacing: 30px;
}

.media  {
	margin-left: 10px;
	margin-top: 50px;
}


.xp {
	display: flex;
	justify-content: flex-start;
	align-items: left;
}


.skipertise {
	display: flex;
	justify-content: flex-start;
	align-items: left;
}

#job-position {
	margin-left: 50px;
}


/*#skills1 {
	padding-left: 0;
	list-style-position: inside;
}*/


#skills2 {
	margin-left: 50px;
}

.school {
	display: flex;
	justify-content: flex-start;
	align-items: left;
}

#sch {
	margin-left: 50px;
} 

#contact {
	margin-bottom: 50px;
}



