body {
	display: grid;
	grid-template-columns: 1fr 250px 550px 1fr;
	/*grid-template-rows: 1fr 1fr 1fr;*/
	grid-template-areas: 

	". headd headd ."
	". sidebar mainbar ."
	". sidebar mainbar .";

	grid-gap: 6px;
}


.headd {
	grid-area: headd;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
	padding: 30px;
}

.sidebar {
	grid-area: sidebar;
	background-color: yellow;
}


.mainbar { 
	grid-area: mainbar;
	background-color: purple;
	padding: 10px
 }


.title {
	text-align: center;
	border: solid;
	border-color: white; 
	border-radius: 30px;
	padding: 0;
}

.profile-pic {
	border-radius: 50% 50% / 50% 50% ;
	margin: 10px 10px 10px 25px;
}


.icon {
	margin-right: 5px;
	margin-left: 10px;
}

.con-space {
	margin-bottom: 200px;
	border-spacing: 30px;
}

.media  {
	margin-left: 10px;
}


.xp {
	display: flex;
	justify-content: flex-start;
	align-items: left;
}


.skipertise {
	display: flex;
	justify-content: flex-start;
	align-items: left;
}

#job-position {
	margin-left: 50px;
}

#skills2 {
	margin-left: 50px;
}

.school {
	display: flex;
	justify-content: flex-start;
	align-items: left;
}

#sch {
	margin-left: 50px;
} 


h3 {
	padding: 0;
}